/WhisperTest/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/WhisperTest/obj/Debug/net9.0/apphost.exe
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/win-x64/ggml-base-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-arm64/ggml-base-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-x64/ggml-base-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-x86/ggml-base-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/win-x64/ggml-cpu-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-arm64/ggml-cpu-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-x64/ggml-cpu-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-x86/ggml-cpu-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/win-x64/ggml-cuda-whisper.dll
/WhisperTest/bin/Debug/net9.0/ggml-metal.metal
/WhisperTest/bin/Debug/net9.0/ggml-small.bin
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/win-x64/ggml-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-arm64/ggml-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-x64/ggml-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-x86/ggml-whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/macos-arm64/libggml-base-whisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/macos-x64/libggml-base-whisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/linux-x64/libggml-base-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-arm/libggml-base-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-arm64/libggml-base-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-x64/libggml-base-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/macos-arm64/libggml-blas-whisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/macos-x64/libggml-blas-whisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/macos-arm64/libggml-cpu-whisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/macos-x64/libggml-cpu-whisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/linux-x64/libggml-cpu-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-arm/libggml-cpu-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-arm64/libggml-cpu-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-x64/libggml-cpu-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/linux-x64/libggml-cuda-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/macos-arm64/libggml-metal-whisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/macos-arm64/libggml-whisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/macos-x64/libggml-whisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/linux-x64/libggml-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-arm/libggml-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-arm64/libggml-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-x64/libggml-whisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/macos-arm64/libwhisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/macos-x64/libwhisper.dylib
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/linux-x64/libwhisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-arm/libwhisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-arm64/libwhisper.so
/WhisperTest/bin/Debug/net9.0/runtimes/linux-x64/libwhisper.so
/WhisperTest/obj/project.assets.json
/WhisperTest/obj/project.nuget.cache
/WhisperTest/obj/project.packagespec.json
/WhisperTest/obj/rider.project.model.nuget.info
/WhisperTest/obj/rider.project.restore.info
/WhisperTest/bin/Debug/net9.0/runtimes/cuda/win-x64/whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-arm64/whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-x64/whisper.dll
/WhisperTest/bin/Debug/net9.0/runtimes/win-x86/whisper.dll
/WhisperTest/bin/Debug/net9.0/Whisper.net.dll
/WhisperTest/obj/Debug/net9.0/WhisperT.03DA074B.Up2Date
/WhisperTest/obj/Debug/net9.0/WhisperTest.AssemblyInfo.cs
/WhisperTest/obj/Debug/net9.0/WhisperTest.AssemblyInfoInputs.cache
/WhisperTest/obj/Debug/net9.0/WhisperTest.assets.cache
/WhisperTest/obj/Debug/net9.0/WhisperTest.csproj.AssemblyReference.cache
/WhisperTest/obj/Debug/net9.0/WhisperTest.csproj.CoreCompileInputs.cache
/WhisperTest/obj/Debug/net9.0/WhisperTest.csproj.FileListAbsolute.txt
/WhisperTest/obj/WhisperTest.csproj.nuget.dgspec.json
/WhisperTest/obj/WhisperTest.csproj.nuget.g.props
/WhisperTest/obj/WhisperTest.csproj.nuget.g.targets
/WhisperTest/bin/Debug/net9.0/WhisperTest.deps.json
/WhisperTest/bin/Debug/net9.0/WhisperTest.dll
/WhisperTest/obj/Debug/net9.0/ref/WhisperTest.dll
/WhisperTest/obj/Debug/net9.0/refint/WhisperTest.dll
/WhisperTest/obj/Debug/net9.0/WhisperTest.dll
/WhisperTest/bin/Debug/net9.0/WhisperTest.exe
/WhisperTest/obj/Debug/net9.0/WhisperTest.GeneratedMSBuildEditorConfig.editorconfig
/WhisperTest/obj/Debug/net9.0/WhisperTest.genruntimeconfig.cache
/WhisperTest/obj/Debug/net9.0/WhisperTest.GlobalUsings.g.cs
/WhisperTest/bin/Debug/net9.0/WhisperTest.pdb
/WhisperTest/obj/Debug/net9.0/WhisperTest.pdb
/WhisperTest/bin/Debug/net9.0/WhisperTest.runtimeconfig.json
